<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Vievfolder</title>
    <link rel="stylesheet" type="text/css" href="/theme.css">
</head>
<body>
    <h1>Hello world!</h1><br />
% if len(c.folders) > 0:
    <div class='foldercontainer'>
    % for folder in c.folders:
        <div class='folder'><a href='/viewfolder/${folder}/'>${folder}</a></div>
    % endfor
    </div>
% endif

% if len(c.images) > 0:
    <div class='imagecontainer'>
    % for img in c.images:
        <div class='image'><a href='/getweb/${img}/'><img src='/getthumbnail/${img}/'></a></div>
    % endfor
    </div>
% endif
    </body>
</html>
