<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Vievfolder</title>
    <link rel="stylesheet" type="text/css" href="/theme.css">
</head>
<body>
    <div class="header">
        <h1>${c.site_name}</h1>
    </div>

    <div class='navigation'>
    <%
        full_path = '/viewfolder/'
    %>
    <a href='${full_path}'>home</a>
    % for path in c.paths:
        <%
            full_path +=  path
        %>
        &nbsp;/&nbsp;<a href='${full_path}'>${path}</a>
    % endfor
    </div>

    <div class='content'>
    % if len(c.folders) > 0:
        <div class='foldercontainer'>
        % for folder in c.folders:
            <div class='folder'>
                <a href='/viewfolder/${folder}/'>
                    <img src='/img/folder.png' height='${c.thumb_height}' width='${c.thumb_width}'>
                    <em>${folder}</em>
                </a>
            </div>
        % endfor
        <div style="clear: both"></div>
        </div>
    % endif

    % if len(c.images) > 0:
        <div class='imagecontainer'>
        % for img in c.images:
            <div class='image'><a href='/getweb/${img}/'><img src='/getthumbnail/${img}/' height='${c.thumb_height}' width='${c.thumb_width}'></a></div>
        % endfor
        <div style="clear: both"></div>
        </div>
    % endif
    </div>
    </body>
</html>
