    <body>
        <div class="header">
            <h1>${c.site_name}</h1>
            <em>by: ${c.site_author}</em>
        </div>

        <div class='navigation'>
        <%
            last_path = c.paths.pop()
            full_path = '/viewfolder/'
        %>
            <a href='${full_path}'>home</a>
        % if len(c.paths) > 0:
        % for path in c.paths:
            % if path:
            <%
                full_path +=  "%s/" % path
            %>
            &gt;&nbsp;<a href='${full_path}'>${path}</a>
            % endif
        % endfor
        % endif
        % if last_path:
            &gt;&nbsp;${last_path}
        % endif
        </div>
